.page{
  display: flex;
  flex-direction: column;
}
.page__title{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #45852D;
}
